<h1>Categories</h1>
<div>
  <a href="/categories/new">New category</a>
</div>
<div>
  <h2>All categories</h2>
  <ul>
    {{#each categories}}
    <li>{{name}} <a href="/categories/edit/{{id}}">Edit</a> <a href="/categories/delete/{{id}}">Delete</a></li>
    <ul>
      {{#each albums}}
      <li>Album: <a href="/albums/edit/{{id}}">{{ title }}</a></li>
      {{/each}}
    </ul>
    {{/each}}
  </ul>
</div>
