<h1>Categories</h1>
<div>
  <a href="/categories/new">New category</a>
</div>
<div>
  <h2>All categories</h2>
  <ul>
    <% categories.forEach(category => { %>
      <li><%= category.name %> <a href="/categories/edit/<%= category.id %>">Edit</a> <a href="/categories/delete/<%= category.id %>">Delete</a></li>
      <ul>
        <% category.albums.forEach(album => { %>
          <li>Album: <a href="/albums/edit/<%= album.id %>"><%= album.title %></a></li>
        <% }) %>
      </ul>
    <% }) %>
  </ul>
</div>
