<h1>Album: <%= album.title %></h1>
<p>
  <a href="/">Back to categories</a>
</p>
<div>
  <h2>Metadata</h2>
  <form action="/albums/update" method="post">
    <input type="hidden" name="id" value="<%= album.id %>">
    <label>Title</label>
    <input type="text" name="title" value="<%= album.title %>">
    <label>Subtitle</label>
    <input type="text" name="subtitle" value="<%= album.subtitle %>">
    <label>Category</label>
    <select name="category">
      <% categories.forEach(category => { %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% }) %>
    </select>
    <p>
      <button type="submit">Save</button>
    </p>
  </form>
</div>
<p>
  <a href="/albums/<%= album.id%>/pictures">Manage pictures</a>
</p>
</div>
