<h1>Manage pictures</h1>
<h3>Album: {{album.title}}</h3>
<p>
  <a href="/">Back to categories</a>
</p>
<hr>
<form action="/pictures/upload" method="post" enctype="multipart/form-data">
  <label>Upload pictures</label>
  <input id="albumId" type="hidden" name="albumId" value="{{album.id}}">
  <input type="file" name="pictures" accept="image/*" multiple>
  <button type="submit">Upload</button>
</form>
<hr>
<div class="gallery">
  {{#each album.pictures}}
  <div>
    <img src="/uploads/{{fileNameThumbnail}}" />
    <div>
      <button class="btnSetAsAlbumCover" value="{{id}}" onclick="setAsAlbumCover(event)">Album cover</button>
      <button class="btndeletePicture" value="{{id}}" onclick="deletePicture(event)">Delete</button>
    </div>
  </div>
  {{/each}}
</div>

<script>
  function deletePicture(e) {
    const picId = e.target.value;

    if (confirm("Confirm picture delete?")) {
      makeFetchRequest(
        'POST',
        'pictures/delete',
        JSON.stringify({ picId }),
        (e) => location.reload()
      );
    }
  }

  function setAsAlbumCover(e) {
    const picId = e.target.value;
    const albumId = document.getElementById('albumId').value;

    makeFetchRequest(
      'POST',
      'albums/cover',
      JSON.stringify({ albumId, picId }),
      console.log('Changed album cover')
    );
  }
</script>
